@using Microsoft.AspNetCore.Components.Authorization

<AuthorizeView>
    <Authorized Context="navAuth">
        <nav class="nav-menu">
            <ul>
                <li>
                    <NavLink href="/" Match="NavLinkMatch.All">
                        <span class="nav-icon">&#9632;</span> Dashboard
                    </NavLink>
                </li>
                <li>
                    <NavLink href="/templates">
                        <span class="nav-icon">&#9776;</span> Templates
                    </NavLink>
                </li>
                <li>
                    <NavLink href="/formulas">
                        <span class="nav-icon">&#8721;</span> Formulas
                    </NavLink>
                </li>
                <li>
                    <NavLink href="/cross-sheet-rules">
                        <span class="nav-icon">&#8646;</span> Cross-Sheet Rules
                    </NavLink>
                </li>
                <li>
                    <NavLink href="/submissions">
                        <span class="nav-icon">&#9993;</span> Submissions
                    </NavLink>
                </li>
                <AuthorizeView Roles="Admin,Approver">
                    <Authorized Context="auditAuth">
                        <li>
                            <NavLink href="/audit">
                                <span class="nav-icon">&#128196;</span> Audit Log
                            </NavLink>
                        </li>
                    </Authorized>
                </AuthorizeView>
                <AuthorizeView Roles="Admin">
                    <Authorized Context="usersAuth">
                        <li>
                            <NavLink href="/users">
                                <span class="nav-icon">&#9998;</span> Users
                            </NavLink>
                        </li>
                    </Authorized>
                </AuthorizeView>
            </ul>
        </nav>
    </Authorized>
</AuthorizeView>
