@page "/__harness/bulk-upload"
@layout FC.Engine.Portal.Components.Layout.BulkUploadHarnessLayout
@using FC.Engine.Portal.Components.Pages.Submissions
@inject IWebHostEnvironment HostEnvironment

@if (!HostEnvironment.IsDevelopment())
{
    <div class="portal-alert portal-alert-warning" role="alert">
        Bulk upload harness is only available in development/test environments.
    </div>
}
else
{
    <BulkSubmit />
}
